backend:
  name: git-gateway

media_folder: static/assets
public_folder: assets

collections:
  - name: blog
    label: Blog
    folder: "blog/cour"
    create: true
    identifier_field: classe
    fields:
      - label: "classe concernée"
        name: "classe"
        widget: "select"
        options: ["Sixième", "Quatrième", "Cinquième", "Troisième", "Seconde", "Première", "Terminale"]
      - label: "Theme du cours" 
        name: theme, 
        widget: "select" 
        options: ["Nombres et calculs", "Organisation et gestion de données, fonctions", "Grandeurs et mesures", "Espace et géométrie", "Algorithmique et programmation", "Algèbre ", "Analyse", "Géométrie","Probabilités et statistiques" ]
      - label : Activites
        name: activitees
        widget: list
        fields:
          - label: "compétences évaluées"
            name: competencesevaluees
            widget: "select"
            multiple: true
            options: ["Chercher", "Modéliser", "Représenter", "Raisonner", "Calculer", "Communiquer"]
            default: ["chercher"]
          - label: "activitee"
            name: activitee
            widget: object
            fields:
              - { name: nom, label: "Nom de l'activée à afficher", widget: string }
              - { name: lien, label: "Lien vers le document ou la vidéo", widget: string }
      - label : "methodes"
        name: methodes
        widget: list
        fields:
          - label: "cour et methode"
            name: methode
            widget: object
            fields:
              - { name: nom, label: "Nom le la méthode à afficher", widget: string }
              - { name: lien, label: "Lien vers le document ou la vidéo", widget: string }
      - label : "corrigés exercicés"
        name: corrigerexercices
        widget: list
        fields:
          - label: "compétences évaluées"
            name: competencesevaluees
            widget: "select"
            multiple: true
            options: ["Chercher", "Modéliser", "Représenter", "Raisonner", "Calculer", "Communiquer"]
            default: ["chercher"]
          - label: "corrigé exercice"
            name: corrigerexercice
            widget: object
            fields:
              - { name: nom, label: "Nom du corrigé de l'exercice à afficher", widget: string }
              - { name: lien, label: "Lien vers le document ou la vidéo", widget: string }